<div class="container">
	<div class="wrap">
		<div class="top">
			<div class="head">
				<img class="logo" src="./assets/AMS-monochrome-black.svg" />
			</div>
			<div class="desc">对基础设施及产品的监控和运维管理</div>
		</div>
		<router-outlet></router-outlet>
		<div class="footer">
			<global-footer [links]="links">
				Copyright
				<i class="anticon anticon-copyright"></i> 2020
				<a href="//github.com/LeonardoRain" target="_blank">
					LeonardoRain
				</a>
				出品
			</global-footer>
		</div>
	</div>
</div>
