.ActionButtons {
    margin-bottom: 10px;
}

.ListFilter {
    margin: 0 0 10px 0;
}

.filterInput {
    width: 150px;
    height: 32px;
    margin-left: 1px;
}

.littleButton {
    margin-left: 5px;
}
