form nz-form-item {
    margin-right: 16px;
    margin-bottom: 8px;
}

.statusRight {
    color: rgb(10, 218, 55);
}

.statusWrong {
    color: red;
}

/* button中的 i标签水平垂直居中 */
.pauseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.startPauseButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ActionButtons {
    margin-bottom: 10px;
}

.ListFilter {
    margin: 0 0 10px 0;
    display: flex;
}

.filterInput {
    width: 150px;
    height: 32px;
    margin-left: 1px;
}

.littleButton {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap
}

nz-select {
    width: 150px;
}

.ipAddress {
    font-size: 12px;
    color: rgb(128, 128, 128);
}
